.row {
    display: flex;
}
  
.column {
    flex: 50%;
}

.mat-form-field {
    width: 98% !important;
}

.mat-dialog-actions {
    justify-content: flex-end;
}

.mat-raised-button {
    background-color: #007DFE;
    color: white;
}