.mat-dialog-actions {
    justify-content: center;
}

.mat-raised-button {
    background-color: #007DFE;
    color: white;
    justify-content: center;
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
}